
<div class="container">
    
        <div class= "d-flex total-content" >
            <div >
                <img src="{{productDetails.image}}" class="img-card-top" height="160px" width="120px" />
            </div>
            <div class="flex-row flex-md-column">
                    <h3>{{productDetails.vendor}}</h3>
                    <p>{{productDetails.description}}</p>
                    <p>{{productDetails.cost}}</p>
                    <div class="buttonsblock">
                        <a class="btn btn-danger" href="products/deleteproduct/{{productDetails.id}}">delete</a>
                    <a class="btn btn-primary">Read more..</a></div>
                </div>
            </div>
            
        </div>