<!-- 
<input type="text" [(ngModel)] = latestname>
{{latestname}}

{{total | json}} <br>

{{n}}

<button (click) = "child2Method()"> click here</button> -->

<!-- <form style="text-align: center;" #loginForm="ngForm" (ngSubmit) = "loginDetails(loginForm.value)">
    <input type="text" id="names" name="names" placeholder="name" ngModel />
    <input type = "password" id="password" name="pwd" placeholder="password" ngModel />
    <input type="submit" value="login" />
</form> -->

super star

<button (click) = "logoutUser()">logout</button>